<a href="https://colab.research.google.com/github/GabrielCondori22/GabrielCondori22/blob/main/Ejercicio2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRB-gUMq0kzWMKPP9_tzTmguWv7mdyjBiUKU_uxYC3tADKUuBS_huqd1nDFvqmnen_U99ID7WW9vIEs/pub?output=csv")

In [3]:
print(datos)

       nombre  edad     genero    ciudad  ingresos      educacion  \
0        Juan    28  Masculino      Lima      4500  Universitario
1       María    35   Femenino  Arequipa      3500     Secundaria
2        Luis    40  Masculino     Cusco      5200  Universitario
3         Ana    22   Femenino      Lima      2800  Universitario
4      Walter    19  Masculino   Juliaca      3100        Técnico
5       Pedro    30  Masculino  Arequipa      4000        Técnico
6       Laura    27   Femenino      Lima      3200     Secundaria
7      Carlos    29  Masculino     Cusco      4800  Universitario
8       Sofía    25   Femenino      Lima      3000  Universitario
9   Esmeralda    23   Femenino   Juliaca      3200  Universitario
10     Andrés    33  Masculino  Arequipa      4200  Universitario
11   Gabriela    31   Femenino      Lima      3800  Universitario
12      Diego    26  Masculino     Cusco      3600        Técnico
13    Ernesto    42  Masculino   Juliaca      4200        Técnico

    estado_civil
0        Soltero
1         Casado
2         Casado
3        Soltero
4        Soltero
5        Soltero
6         Casado
7   Comprometido
8        Soltero
9        Soltero
10        Casado
11    Divorciado
12  Comprometido
13        Casado